@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0d1117;
  --foreground: #e6edf3;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}